:root {
    background: linear-gradient(cadetblue,  rgb(32, 62, 64), rgb(26, 38, 39));
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* outline: 2px red solid; */
}



body {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(cadetblue,  rgb(32, 62, 64), rgb(26, 38, 39));
    background-size: cover;
  background-repeat: no-repeat;
}

.topStart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* outline: green solid 5px; */
    flex-basis: 100%;
    /* padding-left: 4%; */
    padding-left:25%;
    padding-right: 25%;
    margin-top: 1%;
}

#startline{
    font-size: 5vh;
    font-family: 'Pacifico', cursive;
    color:antiquewhite;
    flex-basis: 100%;
    justify-content: center;
    margin-bottom: 4%;
    text-align: center;
}

#question {
    font-size: 3vh;
    font-family: monospace;
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 5%;
}

#scores {
    font-size: 4vh;
    font-weight: bolder;
    margin-bottom: 2%;
    font-family: 'Bricolage Grotesque';
    color: yellowgreen;
}

#correct-and-names {
    font-size: 3vh;
}

.clock {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 100%;
    /* outline: 5px yellow solid; */
    align-items: center;
    margin-bottom: 3%;
}

#surroundHoot {
    display: flex;
    justify-content: center;
    background-color: transparent;
    flex-basis:50%;
    /* align-items: center; */
    border: none;
        /* outline: 2px red solid; */
}

#hoot {
    /* outline: teal 2px solid; */
    width: 50%;
    border-radius: 360px;
}

#hoot:hover, button:hover  {
    cursor: pointer;
}

.countdown {
    /* width:30px; */
    /* height:20vh; */
    /* outline: 2px red solid; */
    font-size: 10vh;
    /* padding-left: 3%; */
    /* padding-right: 8%; */
    color: red;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(35, 35, 35),  rgb(32, 62, 64));
    border-radius: 360px;
    font-family:'black ops one';
    flex-basis:25%;
    text-align: center;
    margin:auto 5%;
}

.choicebutton {
    width: 100%;
    background-color: cadetblue;
    color: antiquewhite;
    padding: 10px;
    border-color: none;
    border-radius: 360px;
    border-style: none;
    margin-bottom: 5%;
    transition: all 0.2s ease-in-out;
}

.choicebutton:hover {
    box-shadow: inset 0px 0px 8px white, 0 0 15px rgb(139, 230, 183);
}


