* {
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* outline: 2px red solid; */
}

body {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(slategrey,  rgb(32, 62, 64), rgb(26, 38, 39));
}

.topStart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* outline: green solid 5px; */
    width: 50%;
    padding-left: 4%;
}

#startline{
    font-size: 5vh;
    font-family: 'Pacifico', cursive;
    color:antiquewhite;
    flex-basis: 100%;
    justify-content: center;
    margin-bottom: 2%;
}

#question {
    font-size: 3vh;
    font-family: 'Courier New', Courier, monospace;
    flex-basis: 100%;
}

.clock {
    display: flex;
    justify-content: space-around;
    display: flex;
    /* outline: 2px red solid; */
    align-items: center;
}

button {
    display: flex;
    justify-content: center;
    background-color: transparent;
    /* align-items: center; */
    border: none;
        /* outline: 2px red solid; */
}

#hoot {
    /* outline: teal 2px solid; */
    width: 50%;
    border-radius: 360px;
}

#hoot:hover {
    cursor: pointer;
}

.countdown {
    width:32.5%;
    height:100%;
    align-items: center;
    outline: 2px red solid;
    font-size: 8vh;
    padding-left: 8%;
    padding-right: 8%;
    color: red;
}