* {
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* outline: 2px red solid; */
}

body {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(slategrey,  rgb(32, 62, 64), rgb(26, 38, 39));
}

.topStart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* outline: green solid 5px; */
    flex-basis: 100%;
    /* padding-left: 4%; */
    padding-left:25%;
    padding-right: 25%;
}

#startline{
    font-size: 5vh;
    font-family: 'Pacifico', cursive;
    color:antiquewhite;
    flex-basis: 100%;
    justify-content: center;
    margin-bottom: 2%;
    text-align: center;
}

#question {
    font-size: 3vh;
    font-family: 'Courier New', Courier, monospace;
    flex-basis: 100%;
    text-align: center;
}

.clock {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 100%;
    /* outline: 5px yellow solid; */
    align-items: center;
}

button {
    display: flex;
    justify-content: center;
    background-color: transparent;
    flex-basis:50%;
    /* align-items: center; */
    border: none;
        /* outline: 2px red solid; */
}

#hoot {
    /* outline: teal 2px solid; */
    width: 50%;
    border-radius: 360px;
}

#hoot:hover {
    cursor: pointer;
}

.countdown {
    /* width:30px; */

    /* outline: 2px red solid; */
    font-size: 10vh;
    /* padding-left: 3%; */
    /* padding-right: 8%; */
    color: red;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(35, 35, 35),  rgb(32, 62, 64));
    border-radius: 360px;
    font-family:'black ops one';
    flex-basis:25%;
    text-align: center;
}